<div class="jumbotron">
  <h1 class="display-4">Lorem ipsum</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus erat sit amet sollicitudin interdum. Vivamus purus orci, tempor vel convallis sit amet, ullamcorper id orci. Proin rutrum lectus justo, quis efficitur orci lobortis eget. Integer vestibulum augue leo, sollicitudin congue lacus vehicula eget. Integer et efficitur leo. Duis efficitur mollis ullamcorper. Nulla facilisi. Aliquam elementum elit id pulvinar fringilla. Duis nec egestas mauris. Fusce tempor metus in diam dictum mollis. Morbi condimentum ultrices risus et molestie. Nullam sollicitudin semper commodo. Sed porttitor metus quis quam condimentum maximus..</p>
  <hr class="my-4">
  <p>Aenean lectus odio, pellentesque sed mollis ut, mattis at ex. Phasellus scelerisque tempus viverra. Ut dignissim, dolor at blandit laoreet, est elit mollis mauris, aliquet ultrices ante arcu eu dui. Mauris vitae elit tortor. Quisque pulvinar urna a ante auctor fringilla. Sed non mi fringilla, pulvinar nunc nec, gravida est. Duis eget lorem aliquet, lacinia odio id, dignissim velit. Sed a nulla imperdiet, dapibus odio et, tristique risus. Sed vel urna vel neque rhoncus cursus a id massa. In in dui quam..</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" [routerLink]="['/', 'about']" role="button">About</a>
  </p>
</div>
